#########################
# DOTNET
#########################

bin/
obj/

#########################
# OS / EDITOR
#########################

.DS_Store
Thumbs.db

#########################
# VISUAL STUDIO
#########################

.vs/
*.user
*.suo

#########################
# RIDER
#########################

.idea/